name: iOS CI

on:
  workflow_dispatch:  # manual trigger
  push:
  pull_request:

jobs:
  ios-tests:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Install Appium and XCUITest Driver
        run: |
          npm install -g appium
          appium driver install xcuitest
      - name: Start Appium Server
        run: |
            nohup appium \
            --base-path / \
            --port 4723 \
            --log-level info \
            --session-override \
            --relaxed-security \
            > appium.log 2>&1 &


      - name: Run iOS Tests
        run: npx wdio run wdio.ios.conf.js --spec ./test/specs/ios/POM_todoList.spec.js || exit 0

      - name: Upload Logs on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: ./logs/**
